
/* setting a max-width for desktop browsers */
@media only screen and (min-device-width : 768px) {
	
	div[data-role=content] {
		max-width: 20em;
	}
}


.manageTasks-editButton .ui-btn-inner,
.manageTasks-deleteButton .ui-btn-inner
{
	border: 0;
}

.manageTasks-deleteButton {
	margin-right: 0 !important;
}


